<!--style>
  #nav{
      display: none;
  }
  div, input{
      font-size: 30px;
  }

</style-->
<%= form_tag("/remote_login", :method => :post) do -%>

    <div id="mainContent" style="border: 1px solid #23538a; width: 350px; border-top-right-radius: 150px;
            border-bottom-right-radius: 150px; margin: auto; border-left: none; -webkit-border-bottom-right-radius: 150px;
            background-image: linear-gradient(to right, #fff 1%, #23538a); background-color: #23538a;
            background-image: -webkit-linear-gradient(left, #fff, #23538a);
            padding: 20px; margin-top:20px; text-align: center; font-size: 18px; padding-bottom:40px;">
      <span style="color: #23538a;font-size: 22px;">User Login</span><br/><br/>

      <div style="display: table; border-spacing: 10px;">
        <div style="display: table-row;">
          <div style="display: table-cell;padding: 5px; color: #23538a;">Username</div>
          <div style="display: table-cell;padding: 1px;">:</div>
          <div style="display: table-cell;padding: 5px; padding-right: 20px;">
            <input type="text" name="username" id="username" style="width: 100%; padding: 8px; border-right-radius: 40px;
                    border: 1px solid #23538a; border-left: none;" onclick="captureFreetext(this, undefined, undefined, true)"/>
          </div>
        </div>

        <div style="display: table-row;">
          <div style="display: table-cell;padding: 5px; color: #23538a;">Password</div>
          <div style="display: table-cell;padding: 1px;">:</div>
          <div style="display: table-cell;padding: 5px; padding-right: 20px;">
            <input type="password" name="password" id="password" style="width: 100%; padding: 8px; border-right-radius: 40px;
                    border: 1px solid #23538a; border-left: none;" onclick="captureFreetext(this, undefined, undefined, true)"/>
          </div>
        </div>
      </div>
    </div>

<% end %>

<script>

    function changeLabels() {

        if (document.getElementById("btnNext")) {

            document.getElementById("btnNext").innerHTML = "Login";

            document.getElementById("btnNext").onclick = function () {


                /*if(typeof(Android) != "undefined" && !Android.isNetworkAvailable()){

                 showMsg("Device currently offline!");

                 } else {*/

                showSpinner();

                document.forms[0].submit();

                // }

            }

        } else {

            setTimeout("changeLabels()", 10);

            return;

        }

        if (document.getElementById("btnLogout")) {

            document.getElementById("btnLogout").innerHTML = "Logout";

            document.getElementById("btnLogout").style.display = "none";

        } else {

            setTimeout("changeLabels()", 10);

            return;

        }

    }

    setTimeout("changeLabels()", 10);

</script>
