<%= render 'location_check' %>

<style>

  .long {
      min-width: 245px;
  }

</style>
<div id="shell" style="height: 295px; overflow: auto; text-align: center;">

  <button class="button_blue long" style="margin: 10px; width: 515px;" onclick="window.location = '/search_for_samples?target=process_sample';">
    Start Processing Sample
  </button>

  <br />

  <button class="button_blue long" style="margin: 10px;" onclick="window.location = '/search_for_samples?target=rejection_reason';">
    Reject Sample
  </button>

  <button class="button_blue long" style="margin: 10px;" onclick="window.location = '/search_for_samples?target=enter_results';">
    Enter Results
  </button>

  <br />

  <button class="button_blue long" style="margin: 10px;">
    Verify Results
  </button>

  <button class="button_blue long" style="margin: 10px;" onclick="window.location = '/search_for_samples?target=dispose_sample';">
    Dispose Sample
  </button>

</div>

<script>

  function changeLabels(){

      if(document.getElementById("btnNext")){

          document.getElementById("btnNext").style.display = "none";

      } else {

          setTimeout("changeLabels()", 10);

          return;

      }

      if(document.getElementById("btnLogout")){

          document.getElementById("btnLogout").innerHTML = "Logout";

          document.getElementById("btnLogout").onclick = function(){

              window.location = "/logout";

          }

      } else {

          setTimeout("changeLabels()", 10);

          return;

      }

      redirectIfReception();

  }

  function redirectIfReception(){

      if(currentLocation != null){

          if(currentLocation.trim().match(/reception/i)){

              window.location = "/search_for_samples?target=receive_samples";

          }

          if(typeof(Android) != "undefined"){

              document.getElementById("shell").style.height = "295px";

          } else {

              document.getElementById("shell").style.height = (window.innerHeight - 135) + "px";

          }

      } else {

          setTimeout("changeLabels()", 10);

      }

  }

  setTimeout("changeLabels()", 10);

</script>