<style>

  .custom {
      min-width: 300px;
      min-height: 80px;
  }

</style>

<div style="width: 100%; height: 100%; padding: 10px; text-align: center;">

  <button id="btnOrder" class="button_blue custom" style="display: inline-block; margin: 15px;">Order Lab
    Test(s)
  </button>

  <br />

  <button id="btnView" class="button_blue custom" style="display: inline-block; margin: 15px;">View Lab Result(s)</button>

  <br />

  <button id="btnPrint" class="button_blue custom" style="display: inline-block; margin: 15px; margin-bottom: 10px;">
          Print Lab Result(s)
  </button>

</div>