default: &default
    wsdl_server: localhost
    wsdl_port: 3001
    namespace: http://www.baobabhealth.org
    username:
    password:
    order_transport_protocol: http
    order_username:
    order_password:
    order_server: localhost
    order_port: 80
    test_order_transport_protocol: http
    test_order_server: localhost
    test_order_port: 3005
    test_order_path: /place_order/ # /blis/htdocs/api/processHL7Order.php
    avaialble_tests_path: /blis/htdocs/api/get_test_catalog.php
    search_by_acc_num_path: /blis/htdocs/api/remote_calls.php?action=by_accession_num&id=
    patient_by_acc_num_path: /blis/htdocs/api/remote_calls.php?action=get_patient_by_sp_id&id=
    test_result_path: /blis/htdocs/api/updateHL7Order.php
    status_path: /blis/htdocs/api/get_status.php?accession_number=
    lab_repo_protocol: http
    lab_repo_server: localhost
    lab_repo_port: 3003
    lab_get_labs_path: /get_labs/
    lab_get_spacific_labs_path: /get_specific_labs/
    lab_state_update_protocol: http
    lab_state_update_server: localhost
    lab_state_update_port: 3004
    lab_state_update_path: /update_state/
    specimen_status_path: /blis/htdocs/api/get_status.php?accession_number=
    panel_info_path: /blis/htdocs/api/remote_calls.php?action=get_panel_info&loinc_code=<<LOINC_CODE>>&accession_num=<<ACCESSION_NUMBER>>
    panel_tests_path: /blis/htdocs/api/remote_calls.php?action=get_panel_tests_by_loinc_code&loinc_code=
    user_management_protocol: http
    user_management_server: localhost
    user_management_port: 3009
    user_management_login: /remote_login/
    user_management_logout: /remote_logout/
    user_management_authenticate: /remote_authentication/
    user_management_wards: /get_wards
    user_management_names: /get_user_names
    user_management_names: /get_user_names
    order_server_login: /blis/htdocs/api/remote_login.php
    order_server_login_check: /blis/htdocs/api/remote_login_check.php
    order_server_logout: /blis/htdocs/api/remote_logout.php?
    order_server_user_details: /blis/htdocs/api/remote_calls.php?action=get_user_details&username=
    order_server_user_validation: /blis/htdocs/api/update_credentials.php

development:
  <<: *default

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
    <<: *default

production:
    <<: *default
