development:
  haematology:
    workbench1:
    workbench2:
    workbench3:
  parasitology: 
    workbench1:
    workbench2:
    workbench3:
  biochemistry:
    workbench1:
    workbench2:
    workbench3:
    workbench4:
  serology:
    workbench1:
    workbench2:
  blood_bank:
    workbench1:
    workbench2:
  microbiology:
    workbench1:
    workbench2:
  histology:
    workbench1:
    workbench2:
  cytology:
    workbench1:
    workbench2:
  measles:
    workbench1:
    workbench2:
  pcr:
    workbench1:
    workbench2:
  flow_cytometry:
    workbench1:
    workbench2:

